{% extends 'partials/base.html' %}
{%  block title %}Orders Page{% endblock %}

{%block content%}
{% include 'partials/topnav.html' %}
 <!--Table-->
 <div class="container">
    <div class="row my-4">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <table class="table bg-white">
                <thead class="bg-info">
                    <tr class="text-white">
                        <th scope="col">#</th>
                        <th scope="col">Product</th>
                        <th scope="col">Category</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Order by</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Apple</td>
                        <td>Produce</td>
                        <td>1</td>
                        <td>
                            Josh Hart
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Milk</td>
                        <td>Dairy</td>
                        <td>1</td>
                        <td>
                            Josh Hart
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Chicken</td>
                        <td>Meat</td>
                        <td>1 chicken please</td>
                        <td>
                            Josh Hart
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Potato Chips</td>
                        <td>Snacks</td>
                        <td>1</td>
                        <td>
                            Josh Hart
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>



<!--End Table-->

{% endblock %}